$btn-border-radius-xs       : .0625rem;
$btn-padding-x-sm           : .125rem;
$btn-padding-y-sm           : .125rem;
$btn-success-bg             : $success;
$btn-warning-bg             : $warning;
$btn-danger-bg              : $danger;
$border-radius-xs           : .0625rem;
$font-size-xs               : .75rem;
